.bar-widget {
  margin: 8px 0px 8px 8px;
  background-color: $surface;
  border: 3px solid $surface_highest;
  color: $text;
  border-radius: 15px;
  padding: 5px 8px;
}

.bean {
  padding: 8px 6px;
  border-radius: 15px;
  margin: 5px 0;
  background-color: $surface_high;
}

menu {
  font-weight: normal;
  background-color: $surface;
  border: 3px solid $surface_high;
  padding: 8px;

  & > *:hover {
    background-color: $surface_highest;
  }
}

tooltip {
  background-color: $surface;
  border: 3px solid $surface_high;
  color: $secondary;
}

.systray {
  background-color: #fff;
}
