$surface: #171216;
$surface_high: #241e23;
$surface_highest: #393338;
$text: #ebdfe6;
$text_variant: #d0c3cc;
$primary: #eeb4ea;
$primary_high: #ffd6f9;
$primary_text: #4a204b;
$secondary: #d9bfd4;
$secondary_text: #d9bfd4;
$error: #ffb4ab;
$error_text: #690005;
