@import "scss/colors.scss";

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
}

@import "scss/bar.scss";
@import "scss/bar/launcher.scss";
@import "scss/bar/workspaces.scss";
@import "scss/bar/tray.scss";
@import "scss/bar/clock.scss";
@import "scss/calendar.scss";
